@model IEnumerable<Elearning.Models.Post>

@{
    ViewBag.Title = "Index";
}

<script src="~/Content/FileSaver.js"></script>
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Posts" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>

<div class="container body-content">
    @helper ListArrayPosts()
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PictureUrl)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
                <td>
                    <a href="/Posts/Edit/@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/Posts/Details/@item.Id" class="btn btn-sm btn-primary">Details</a>
                    @*<a href="#" data-toggle="modal" data-target="#delete" class="btn btn-danger btn-sm" onclick="Confirm(@item.Id)">Delete</a>*@
                    <a href="/Posts/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "Posts", new { @class = "btn btn-info btn-lg" })
        <button class="btn btn-info btn-lg" onclick="javascript: fnExcelReport('dataTable', 'data')">Export to Excel</button>
    </p>
    <table class="table" id="dataTable">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.User.Email)*@
                <div class="control-label col-md-2"><b>User</b></div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PictureUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @ListArrayPosts()

        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PictureUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }*@

    </table>
</div>